<form #form="ngForm" novalidate>
  <mat-card>
    <div class="createDialog">
      <h1 class="createTitle">Create new task</h1>
      <h3>Completed</h3>
      <input-component [(value)]="data.Completed" [name]="'Completed'" [form]="form" [type]="'number'" ></input-component>
      <h3>Task</h3>
      <input-component [(value)]="data.Task" [name]="'Task'" [form]="form"></input-component>
      <h3>Description</h3>
      <textarea-component [(value)]="data.Description" [name]="'Description'" [form]="form" [rows]="3"></textarea-component>
      <h3>Type</h3>
      <selector-component [(value)]="data.Type" [name]="'Type'" [form]="form" [label]="'Type'" [additionalItems]="['Backend', 'Frontend', 'Database', 'Team Organization']"></selector-component>
      <div class="createButtons">
        <button class="cancelList" mat-raised-button color="warn" (click)="Cancel()">Cancel</button>
        <button class="createList" mat-raised-button color="primary" (click)="CreateNewTask()">Create</button>
      </div>
    </div>
  </mat-card>
</form>